<mat-progress-bar *ngIf="!post" mode="indeterminate"></mat-progress-bar>
<mat-card *ngIf="post" class="post">
  <mat-card-title class="post__title">{{post.title}}</mat-card-title>

  <mat-card-subtitle class="post__subtitle">
    <p class="post__subtitle--meta">Post by <b>{{post.user.name}}</b> | {{post.date | date : 'longDate'}}</p>
    <mat-chip-list aria-label="Tags">
      <mat-chip>Tag 1</mat-chip>
      <mat-chip>Tag 2</mat-chip>
    </mat-chip-list>
  </mat-card-subtitle>

  <mat-card-content class="post__content">{{post.content}}</mat-card-content>

</mat-card>

