<mat-card *ngIf="post" class="post">
  <div class="meta">
    <img alt="user_img" class="post__author-img" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png">
    <div class="post__author">
      <a class="post__author-name"
         [routerLink]="[]"
         [queryParams]="{author: post.user._id}">{{post.user.firstName}} {{post.user.lastName}}</a>
      <p class="post__date">{{post.date | date : 'longDate'}}</p>
    </div>

    <button mat-button color="accent" (click)="like(post._id!)">
      <mat-icon>favorite</mat-icon>
      {{post.likesCount}}</button>
  </div>
  <h2 class="post__title">{{post.title}}</h2>
  <p class="post__content">{{post.shortDescription}}</p>
  <a class="post__read-more" [routerLink]="['../posts', post._id]">Read more...</a>
</mat-card>
