<section class="wrapper">
  <div class="posts-list" *ngIf="posts.length > 0; else empty">
    <h2>{{pageTitle}}</h2>
    <app-post *ngFor="let p of (posts)" [post]="p"></app-post>

    <div class="loader" *ngIf="!noMoreOrders">
      <ng-template #spinner>
        <mat-spinner
          *ngIf="loading"></mat-spinner>
      </ng-template>
      <button *ngIf="!loading; else spinner"
              mat-raised-button
              (click)="loadMore()">Load more
      </button>
    </div>

  </div>
  <ng-template #empty>
    <div class="center">Posts not found</div>
  </ng-template>


  <app-sidebar class="sidebar"></app-sidebar>
</section>


