<h2>{{pageTitle}}</h2>
<section class="wrapper">
  <div class="posts-list" *ngIf="posts.length > 0; else empty">
    <app-post-card *ngFor="let p of (posts)" [post]="p"></app-post-card>
    <ng-template #spinner>
      <mat-spinner
        *ngIf="loading"></mat-spinner>
    </ng-template>
    <div class="loader" *ngIf="!noMorePosts">

      <button *ngIf="!loading; else spinner"
              mat-raised-button
              (click)="loadMore()">Load more
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>

  </div>
  <ng-template #empty>
    <div class="center">Loading...</div>
  </ng-template>

  <app-sidebar class="sidebar"></app-sidebar>
</section>


