@import "src/styles/_variables.scss";

mat-toolbar {
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  .menu {
    &__item {
      color: $dark-grey;
      font-weight: bold;
      text-decoration: none;
      padding: 15px 5px;
      transition: 0.5s;

      &:hover {
        color: $black;
        transition: 0.5s;
      }
    }

    &__item--active {
      color: $black;
    }
  }

  .material-icons-outlined {
    vertical-align: bottom;
  }
}

.header-title {
  color: $green-light;
}
