@import "src/styles/_variables.scss";

mat-toolbar {
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: $white;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

  .menu {
    &__item {
      color: $dark-grey;
      font-weight: bold;
      text-decoration: none;
      padding: 15px 5px;
      transition: 0.5s;

      &:hover {
        color: $black;
        transition: 0.5s;
      }
    }

    &__item--active {
      color: $black;
    }
  }

  .material-icons-outlined {
    vertical-align: bottom;
  }
}

.header-title {
  color: $green-light;
}
