<mat-toolbar>
  <div class="header-title">
    <h1 routerLink="/">My Blog</h1>
  </div>
  <nav class="menu">
    <a mat-button
       class="menu__item menu__item--active"
       routerLink="/">
      <mat-icon>home</mat-icon>
      Home</a>
    <button mat-button
            class="menu__item"
            (click)="openDialog()">
      <mat-icon>edit</mat-icon>
      New Article
    </button>
    <a mat-button
       class="menu__item"
       routerLink="/">
      <mat-icon>perm_identity</mat-icon>
      User Name</a>
  </nav>
</mat-toolbar>
