@import "../../../../styles/variables";

.mat-form-field {
  width: 100%;
}

.mat-dialog-content {
  overflow: hidden;
}

.validation {
  color: $red;
  font-size: 12px;
  position: relative;
  top: -20px;

  span {
    position: absolute;
  }
}
