@import "../../../styles/variables";

mat-card {
  padding: 5rem;
}

h2 {
  color: $green;
  font-size: 15rem;
  text-align: center;
  line-height: 1;
}

p {
  text-align: center;
  font-size: 2rem;
}
