.post {
  mat-card-title {
    font-size: 2.5rem;
    line-height: 1;
  }

  mat-card-subtitle {
    margin-bottom: 1rem;
  }

  mat-card-content {
    text-align: justify;
  }
  mat-divider{
    left: 1rem;
    right: 1rem;
    width: unset;
  }

  &__meta {
    &--subtitle {
      margin-bottom: 0.5rem;
    }
  }
  .comments{
    padding-top: 1rem;
    &__title{
      font-size: 1.5rem;
    }
  }

}

