<h2 mat-dialog-title>Add new post</h2>
<div mat-dialog-content>
  <form [formGroup]="newPostForm"
        (ngSubmit)="submit()"
        class="form">

    <div class="form__item">
      <mat-form-field class="input"
                      appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput
               placeholder="Author"
               type="text"
               id="author"
               name="author"
               formControlName="author">
      </mat-form-field>

      <div *ngIf="newPostFormErrors.author"
           class="validation">
        <span>{{newPostFormErrors.author}}</span>
      </div>
    </div>

    <div class="form__item">
      <mat-form-field class="input"
                      appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput
               placeholder="Title"
               type="text"
               id="title"
               name="title"
               formControlName="title">
      </mat-form-field>


      <div *ngIf="newPostFormErrors.title"
           class="validation">
        <span>{{newPostFormErrors.title}}</span>

      </div>
    </div>

    <div class="form__item">
      <mat-form-field class="textarea"
                      appearance="fill">
        <mat-label>Text</mat-label>
        <textarea matInput
                  formControlName="content"
                  id="text"
                  name="text"></textarea>
      </mat-form-field>

      <div
        *ngIf="newPostFormErrors.text"
        class="validation">
        <span>{{newPostFormErrors.text}}</span>

      </div>

    </div>

    <button mat-button (click)="dialogClose()">Cancel</button>
    <button mat-button
            color="primary"
            type="submit"
            cdkFocusInitial
            [disabled]="newPostForm.invalid">Save post
    </button>

  </form>
</div>
