.form input, .form textarea {
  &.ng-invalid.ng-touched {
    border: 2px solid #d00f0f;
  }

  &.ng-valid.ng-touched {
    border: 2px solid #60b65e;
  }
}

.form {
  width: 500px;
  display: block;

  &__item {
    display: block;
    width: 100%;
    margin-bottom: 15px;

    label {
      display: block;
      margin: 5px 0 5px 0;
      font-weight: bold;
    }

    input, textarea {
      width: 100%;
      max-width: 100%;
      border-radius: 5px;
      font-size: 16px;
      border: 2px solid #bababa;
      padding: 10px;
      box-sizing: border-box;
    }

    & .validation span {
      color: red;
      font-size: 12px;
    }
  }
}

