<article class="post">
  <hr>
  <div class="meta">
      <img alt="user_img" class="post__author-img" src="../../../assets/user.png">
      <div class="post__author">
        <p class="post__author-name">{{post.author}}</p>
        <p class="post__date">{{post.date | date : 'longDate'}}</p>
      </div>
      <button class="like-btn" ><i class="fas fa-heart"></i> {{post.likes}}</button>
  </div>
  <h2 class="post__title">{{post.title}}</h2>
  <p class="post__content">{{post.text}}</p>
  <a class="post__read-more" href="#">Read more...</a>
</article>
