

*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body{
  max-width: 90vw;
  margin: 0 auto;
}

.primary-btn{
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:disabled{
    opacity: 0.5;
  }
}

.btn-close{
  border: none;
  background: none;
  border-radius: 50%;
  width: 35px;
  font-size: 25px;
  height: 35px;
  color: #bababa;
  cursor: pointer;
}


