<mat-card *ngIf="post" class="post">
  <div class="meta">
    <img alt="user_img" class="post__author-img" src="../../../../assets/user.png">
    <div class="post__author">
      <p class="post__author-name">{{post.user?.name}}</p>
      <p class="post__date">{{post.date | date : 'longDate'}}</p>
    </div>

    <button mat-stroked-button color="accent"><mat-icon>favorite</mat-icon> {{post.likes}}</button>
  </div>
  <h2 class="post__title">{{post.title}}</h2>
  <p class="post__content">{{post.content}}</p>
  <a class="post__read-more" [routerLink]="['posts', post._id]">Read more...</a>
</mat-card>
