name: Build app and run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install FE-client packages
      run: npm i
    - name: Client build
      run: npm run build
    - name: Client Start
      run: npm run start
    - name: Run testing  
      run: npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
